page-search,
.search {

    .header-font{

        font-family: unset;
        text-align: center;
    }

    ion-input,
	ion-input::placeholder {
		color: #fff;
	}

    .big-font {
        font-size: 125%;
    }
}
